/*HIMMEL: #3c4763
JACKA: #00a3ff
MOLN: #992e29
*/
body{
font-family: 'Montserrat', sans-serif;
color: white;
margin: 0;
height: 100%;
}
.top{

}
.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/Images/hay.jpg"); /*För att tona ner bilden lite*/
  background-position: center; /*Centers the image vertically*/
  background-repeat: no-repeat; /*The image should only be shown once*/
  background-size: cover; /*Makes the image fit*/
  height: 500px;
  /* width:100%; */
  display: flex;
  flex-direction: column;
  /* border: 3px solid #3c4763; */
  margin-bottom: 3px;
}
.hero-text{
  padding: 20px;
}
.circles{
  border: 3px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.icons{
  align-self: flex-end;
  margin: 100px 35px 0 0;
  display: flex;
  flex-direction: row;
}
.icon{
  width: 20px;
  height: 20px;
  padding: 8px;
}
h1, h4, h5{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 13px;
  letter-spacing: 0.52px;
  margin: 10px 0 0 35px;
  font-weight: normal;
}
.bold{
  font-weight: 700;
  padding-left: 20px;
}
h2{
  font-size: 40px;
  font-weight: normal;
  margin: 0 0 35px 35px;
}
h3{
  font-size: 22px;
  background-color:#992e29;
  display:inline;
  padding: 2px 10px;
  margin:0 0 25px 0;
}
h4{
  color: #992e29;
  font-size: 22px;
}
h5{
  color:#992e29;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 17px;
  display: inline;
}
.profile-picture{
  border: 3px solid white;
  border-radius: 50%;
  height:162px;
  width:162px;
  align-self: flex-end;
  margin-right: 35px; /*Same as icons*/
}

.figure {
  display: flex;
  align-items: center;
  position: absolute;
  padding-top: 5px;
}

#figure-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #992e29;
}

#figure-line {
  width: 40px;
  height: 3px;
  background: #992e29;
}

.information{
  background-color: wheat;
  padding: 55px 35px;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: start;

}
#information{
  text-indent:55px;
}
.information:nth-child(even){
  background-color: white;
}
.project-image{
  /* border: 3px solid black; */
  border-radius: 5px;
  margin: 10px 0;
  width:300px;
}
.skills{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skillset{
margin: 10px;
  width: 40%;
}
ul{
  list-style-type: none;
  padding:0;
  margin: 0;
}

li{
  margin: 0;
  color: black;
}
p{
  color: black;
  margin: 0;
  font-size: 17px;
  display: inline;
}
.project-box{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  margin: 20px 0 50px 0;
  width: 300px;
}
.project-box a{
color:black;
}

.information .circles{
    border: 3px solid #fa382f;
    width: 60px;
    height: 60px;
}
.red-icons{
  /* align-self: flex-end; */
  /* margin: 100px 35px 0 0; */
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  width: 100%;
  justify-content: space-evenly;
  line-height: 80%;
}
#readMore1, #readMore2, #readMore3, #readMore4, #readMore5, #readMore6, #readMore7{
  color:#992e29;
  font-weight: bold;
text-decoration: underline;
background-color: wheat;
border: none;
display:inline;
cursor: pointer;
}
#moreText1, #moreText2, #moreText3, #moreText4{
  display:none;
}
.pink-tags{
  margin: 8px 0 0 0;
}
.pink-tags p{
  padding: 3px 10px;
  background-color: rosybrown;
  display:inline;
  /* margin: 5px; */
  color: white;
  font-size: 14px;
  line-height: 25px;
}

.red-text{
  color: #fa382f;
  font-size: 11px;
  font-weight: bold;
}

footer{
  background-color:#992e29;
  height: 150px;
  display:flex;
  flex-direction: column;
  padding: 55px 35px;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
footer h3{
  background: none;
}
footer p, a{
  font-family: 'Roboto', sans-serif;
  color: white;
}
footer a{
  font-weight: normal;
text-decoration: none;
  cursor: pointer;
}

/***TABLET***/
@media (min-width: 668px) and (max-width: 1149px){
  .hero-text{
    padding: 20px 140px;
  }
  h1, h2{
    margin: 0;
  }
  .information {
  padding: 55px 140px;
}
.profile-picture{
  margin-right: 140px;
}
.icons{
  margin-right: 140px;
}
.hero-image{
  height: 450px;
}
h3{
  font-size: 25px;
}
h4{
  font-size: 20px;
}

#featuredProjects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-box{
  width: 45%;
  flex-direction: column;
}
.project-image{
  width: 100%;
}
.other-projects .project-box{
width: 100%;
}
}
/***DESKTOP***/
/*Changed from 1025px to 1150*/
@media (min-width: 1150px){
  .hero-text{
    padding: 20px 300px;
  }
  h1, h2{
    margin: 0;
  }
  .information {
  padding: 55px 300px;
}
.profile-picture{
  margin-right: 300px;
}
.icons{
  margin-right: 300px;
}
.hero-image{
  height: 450px;
}
h3{
  font-size: 25px;
}
h4{
  font-size: 20px;
}

#featuredProjects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-box{
  width: 45%;
  flex-direction: column;
}
.project-image{
  width: 100%;
}
.other-projects .project-box{
width: 100%;
}
.red-icons{
  justify-content: center;
}
.red-icons .circles{
margin: 30px;
}

}