/*HIMMEL: #3c4763
JACKA: #00a3ff
MOLN: #992e29
*/
body{
font-family: 'Montserrat', sans-serif;
color: white;
margin: 0;
height: 100%;
}
.top{

}
.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("hero-image.jpg"); /*För att tona ner bilden lite*/
  background-position: center; /*Centers the image vertically*/
  background-repeat: no-repeat; /*The image should only be shown once*/
  background-size: cover; /*Makes the image fit*/
  height: 500px;
  /* width:100%; */
  display: flex;
  flex-direction: column;
  border: 3px solid #3c4763;
  margin-bottom: 3px;
}
.hero-text{
  padding: 20px;
}
.circles{
  border: 3px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.icons{
  align-self: flex-end;
  margin: 100px 35px 0 0;
  display: flex;
  flex-direction: row;
}
.icon{
  width: 20px;
  height: 20px;
  padding: 8px;
}
h1, h4{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 13px;
  letter-spacing: 0.52px;
  margin: 10px 0 0 35px;
  font-weight: normal;
}
.bold{
  font-weight: 700;
  padding-left: 20px;
}
h2{
  font-size: 40px;
  font-weight: normal;
  margin: 0 0 35px 35px;
}
h3{
  font-size: 22px;
  background-color:#992e29;
  display:inline;
  padding: 2px 10px;
  margin:0;
}
h4{
  color:#992e29;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 17px;
  display: inline;
}
.profile-picture{
  border: 3px solid white;
  border-radius: 50%;
  height:162px;
  width:162px;
  align-self: flex-end;
  margin-right: 35px; /*Same as icons*/
}

.information{
  background-color: lightblue;
  padding: 55px 35px;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.information:nth-child(even){
  background-color: white;
}
.project-image{
  border: 3px solid #3c4763;
  border-radius: 5px;
  margin: 40px 0 5px 0;
}
.skills{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skillset{
margin: 10px;
  width: 40%;
}
ul{
  list-style-type: none;
  padding:0;
  margin: 0;
}
li{
  margin: 0;
}
p{
  color: black;
  /* margin: 5px; */
  font-size: 17px;
  display: inline;
}
.about-projects{
  text-align: left;
  font-family: 'Roboto', sans-serif;
}
.information .circles{
    border: 3px solid #fa382f;
    width: 60px;
    height: 60px;
}
.red-icons{
  /* align-self: flex-end; */
  /* margin: 100px 35px 0 0; */
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  width: 100%;
  justify-content: space-evenly;
  line-height: 80%;
}
#readMore1, #readMore2, #readMore3{
  color:#992e29;
  font-weight: bold;
text-decoration: underline;
background-color: lightblue;
border: none;
display:inline;
<<<<<<< HEAD
cursor: pointer;
=======
>>>>>>> e077a41... Added javascript-file and started styling the projects
}
#moreText1, #moreText2, #moreText3{
  display:none;
}


.red-text{
  color: #fa382f;
  font-size: 11px;
  font-weight: bold;
}

footer{
  background-color:#992e29;
  height: 150px;
  display:flex;
  flex-direction: column;
  padding: 55px 35px;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
footer h3{
  background: none;
}
footer p, a{
  font-family: 'Roboto', sans-serif;
  color: white;
}
footer a{
  font-weight: normal;
text-decoration: none;
  cursor: pointer;
}